<!DOCTYPE html>
<!--Author: Roshan Rao 2019-->
<!--Source taken from https://rajpurkar.github.io/SQuAD-explorer/-->
<html>

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="Tasks Assessing Protein Embeddings (TAPE) is a new protein representation learning benchmnark, consisting of five biologically relevant tasks, where the input to the model for each task is the amino acid sequence.">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <!--<script async defer src="https://buttons.github.io/buttons.js"></script> -->
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" id="topNavbar" role="navigation">
        <div class="container clearfix" id="navContainer">
            <div class="rightNav">
                <div class="collapseDiv">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/leaderboard">Leaderboard</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftNav">
                <div class="brandDiv"><a class="navbar-brand" href="/">TAPE</a></div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <nav class="navbar navbar-default navbar-static-bottom footer">
        <div class="container clearfix">
            <div class="rightNav">
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">TAPE</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Latest compiled and minified JavaScript -->
    <script
			  src="https://code.jquery.com/jquery-1.9.1.min.js"
			  integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ="
			  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
