{% extends "base.html" %}

{% block content %}
    <div class="cover" id="topCover">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="appTitle">Leaderboard</h1>
                    <h2 id="appSubtitle">Tasks Assessing Protein Embeddings</h2></div>
            </div>
        </div>
    </div>
    <div class="ui container">
    <nav class="ui fluid six item secondary pointing menu">
    <a class=" {% if table.name == 'overall' %}active{% endif %} item" href="/">OVERALL</a>
    <a class=" {% if table.name == 'secondary_structure' %}active{% endif %} item" href="/secondary_structure">SECONDARY STRUCTURE</a>
    <a class=" {% if table.name == 'contact_prediction' %}active{% endif %} item" href="/contact_prediction">CONTACT PREDICTION</a>
    <a class=" {% if table.name == 'remote_homology' %}active{% endif %} item" href="/remote_homology">REMOTE HOMOLOGY</a>
    <a class=" {% if table.name == 'fluorescence' %}active{% endif %} item" href="/fluorescence">FLUORESCENCE</a>
    <a class=" {% if table.name == 'stability' %}active{% endif %} item" href="/stability">STABILITY</a>
    </nav>
    </div>
    <div class="cover" id="contentCover">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="infoCard">
                        <div class="infoBody">
                            <p> {{ table.description }} </p>
                            <table id="tapeLeaderboardTable" class="table performanceTable" width="100%">
                                <thead>
                                <tr>
                                    {% for header in table.headers%}
                                    <th class="th-sm">{{ header }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for entry in table.entries %}
                                <tr>
                                    {% for header, value in entry.items() %}
                                    {% if header == 'submission_date' %}
                                    <td><span class="date label label-default">{{ value }}</span></td> <!-- date -->
                                    {% elif header == 'name' %}
                                    <td style="word-break:break-word;">{{ value }}</td>  <!-- model -->
                                    {% else %}
                                    <td>{{ value }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
