{% extends "base.html" %}

{% block content %}
    <div class="cover" id="topCover">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="appTitle">Leaderboard</h1>
                    <h2 id="appSubtitle">Tasks Assessing Protein Embeddings</h2></div>
            </div>
        </div>
    </div>
    <div class="ui container">
    <nav class="ui fluid six item secondary pointing menu">
    <a class=" {% if active_table == 'overall' %}active{% endif %} item" href="/">OVERALL</a>
    <a class=" {% if active_table == 'secondary_structure' %}active{% endif %} item" href="/secondary_structure">SECONDARY STRUCTURE</a>
    <a class=" {% if active_table == 'contact_prediction' %}active{% endif %} item" href="/contact_prediction">CONTACT PREDICTION</a>
    <a class=" {% if active_table == 'remote_homology' %}active{% endif %} item" href="/remote_homology">REMOTE HOMOLOGY</a>
    <a class=" {% if active_table == 'fluorescence' %}active{% endif %} item" href="/fluorescence">FLUORESCENCE</a>
    <a class=" {% if active_table == 'stability' %}active{% endif %} item" href="/stability">STABILITY</a>
    </nav>
    </div>
    <div class="cover" id="contentCover">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="infoCard">
                        <div class="infoBody">
                            <p> {{ table.description }} </p>
                            <table class="table performanceTable">
                                <tr>
                                    {% for fieldname in table.public_fields %}
                                    <th>{{ fieldname }}</th>
                                    {% endfor %}
                                </tr>
                                {% for model in table.models %}
                                <tr>
                                    {% for fieldname in table.fieldnames %}
                                    {% if fieldname == 'date' %}
                                    <td><span class="date label label-default">{{ model[fieldname] }}</span></td> <!-- date -->
                                    {% elif fieldname == 'model' %}
                                    <td style="word-break:break-word;">{{ model[fieldname] }}</td>  <!-- model -->
                                    {% else %}
                                    <td>{{ model[fieldname] }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
